:root {
  --accent: #22bb66;

  --bg-l1: #ffffff;
  --bg: #efefef;
  --bg-d1: #dfdfdf;
  --bg-d2: #cfcfcf;
}

body {
  margin: 0;
  background-color: var(--bg);
}

#app {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica, sans-serif;
}

* {
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
}

#content {
  padding: 64px;
  margin-left: 200px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: dense;
  gap: 16px;
}

.card {
  max-width: 480px;
}

.card .image {
  width: 100%;
  border-radius: 8px;
  background-color: var(--bg-d1);
}

.card .text {
  font-size: 16px;
  padding: 8px 0 0 0;
  color: #202020;
}

.card .description {
  font-size: 14px;
  color: #404040;
}

.card .tags {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  color: #202020;
  gap: 4px;
  margin-top: 4px;
}

.card .tags .tag {
  font-size: 14px;
  background-color: var(--bg-d2);
  flex-grow: 0;
  padding: 0 6px;
  border-radius: 99px;
}

#newcardcontainer {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 8px;
}

#newcardcontainer input {
  padding: 8px 12px;
  background-color: var(--bg-l1);
  border-radius: 4px;
}

#newcardcontainer button {
  background-color: var(--accent);
  text-align: center;
  padding: 8px 12px;
  max-width: 50%;
  border-radius: 8px;
  margin-top: 8px;
}

#newcardcontainer img {
  border-radius: 8px;
}

#sidenav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  box-sizing: border-box;

  height: 100vh;
  width: 200px;
  background-color: var(--bg-d1);
}

#tags-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#tags-list .tag {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}


#tags-list .tag:hover {
  background-color: var(--bg);
}


#tags-list .tag .count {
  background-color: #333333;
  border-radius: 99px;
  text-align: center;
  font-size: 12px;
  min-width: 7px;
  padding: 1px 5px;
  color: #efefef;
}