:root {
  --bg-l2: #ffffef;
  --bg-l1: #fafaec;
  --bg: #f5f5e8;
  --bg-d1: #ecece1;
  --bg-d1-ds: #e1e1d6;
  --bg-d2: #e3e3d8;
  --bg-d2-ds: #d4d4c9;
  --bg-d3: #dadacc;
  --bg-d4: #d1d1c5;
  --bg-d5: #c8c8ba;

  --text: #101012;

  --acent-l1: #1f814a;
  --accent: #1c6944;
  --acent-d1: #135435;

  --red-l1: #c92e31;
  --red: #ba2528;
  --red-d1: #ab1b1e;

  --placeholder-text: #808080;
}

html,
body,
* {
  text-rendering: optimizeLegibility;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  color: var(--text);
  font-family: "Lora", serif;
}

*::placeholder {
  color: var(--placeholder-text);
}

body {
  background-color: var(--bg);
}

#app {
  height: 100vh;
  width: 100vw;
}

input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid var(--bg-l2);
  transition: 80ms;
  background-color: var(--bg-l2);
  font-size: 14px;
}

input:hover {
  border: 2px solid var(--bg-d1);
}

input:focus {
  border: 2px solid var(--accent);
}

.popup {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 100%;
  background-color: #00000040;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup .content {
  width: 30%;
  border-radius: 16px;
  margin-bottom: 10%;
  display: flex;
  box-shadow: 0 4px 8px 2px #00000020;
  gap: 16px;
  flex-direction: column;
  padding: 16px;
  background-color: var(--bg);
}

#new-card-popup .content #dragdrop-container {
  border-radius: 6px;
}

#new-card-popup .content #dragdrop-container #dragdrop-input {
  color: var(--placeholder-text);
  padding: 16px 16px;
  background-color: var(--bg-l2);
  border: 2px solid var(--bg);
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#new-card-popup .content #dragdrop-container #dragdrop-input:hover {
  border: 2px solid var(--bg-d1);
}

#board-list {
  padding: 32px 32px 0 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#board-container {
  padding: 0 64px 64px 64px;
  gap: 16px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#board-content {
  column-count: 4;
  column-gap: 16px;
}

#new-card-button-container {
  width: 100%;
  margin: 8px;
  height: 240px;
}

#new-card-button-container button {
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--accent);
  width: 100%;
  height: 100%;
  transition: 80ms;
  border: 2px solid var(--accent);
}
#new-card-button-container button:hover {
  background-color: var(--accent);
  color: var(--bg);
}

.card {
  border-radius: 8px;
  padding: 8px;
  display: inline-block;
  width: 100%;
}

.card:hover {
  background-color: var(--bg-d1);
}

.card:hover .actions {
  display: flex;
}

.card .actions {
  position: absolute;
  gap: 8px;
  padding: 8px 4px;
  display: none;
  flex-direction: column;
}

.card .actions button {
  padding: 0 4px;
  background-color: transparent;
}

.card .actions button:hover {
  text-decoration: underline;
}

.card .text1 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.card .text2 {
  font-size: 14px;
}

.card .url {
  font-size: 12px;
  text-decoration: none;
}
.card .url:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  background-color: var(--bg-l2);
  /* image-rendering: optimizeSpeed; 
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges; 
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated; 
  image-rendering: optimize-contrast; 
  -ms-interpolation-mode: nearest-neighbor;  */
}

h1 {
  font-size: 32px;
  color: var(--text);
}

h2 {
  font-size: 24px;
  color: var(--text);
}

h3 {
  font-size: 20px;
  color: var(--text);
}

h4 {
  font-size: 16px;
  color: var(--text);
}

button {
  transition: 80ms;
  padding: 8px 12px;
  color: var(--text);
  border-radius: 6px;
  cursor: pointer;
}

button.accent {
  background-color: var(--accent);
  color: var(--bg);
}

button.accent:hover {
  background-color: var(--acent-d1);
}

button.disabled {
  background-color: var(--bg-d1);
  cursor: default;
  color: var(--bg-d5);
}

button.clear {
  background-color: transparent;
}

button.clear:hover {
  background-color: var(--bg-d1);
}

button.red {
  background-color: var(--red);
  color: var(--bg);
}

button.red:hover {
  background-color: var(--red-d1);
}
